fastapi[standard]==0.115.5
google-auth==2.36.0
google-cloud-secret-manager==2.21.1
google-cloud-storage==2.18.2
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.18
langchain-google-genai==2.0.5
langchain-text-splitters==0.3.2
langchain==0.3.7
pydantic==2.9.2
pypdf==5.1.0
python-dotenv==1.0.1